# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# PORT=4000
# SQL_PASS=root
# SQL_USER=root
# SQL_DATABASE_NAME=webdataconversion_2

# testing
/coverage

# production


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
csvFile
extractedFiles
zipFile
multipleCsvCompare
OmrImages
OmrImagesZipfile
ErrorCsv
COMPARECSV_FILES
TempleteImages